@import "../node_modules/tether/dist/css/tether.css";
@import "../node_modules/tether/dist/css/tether-theme-basic.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/open-iconic/font/css/open-iconic.css";
@import "bootstrap-theme-override";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


$color-background-main: #4b657f;
$color-text-main: #ffffff;
$color-button-main: #f55195;

body {
  background-color: $color-background-main;
  color: $color-text-main;

  //font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif !important;
}