@import "../node_modules/tether/dist/css/tether.css";
@import "../node_modules/tether/dist/css/tether-theme-basic.css";
@import "../node_modules/open-iconic/font/css/open-iconic.css";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$color-background-main: #4b657f;
$color-text-main: #ffffff;
$color-button-main: #f55195;

// Override any bootstrap variable before bootstrap variables are applied
// e.g.
$body-bg: $color-background-main;
$body-color: $color-text-main;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif !important;
}