<div class="row">

    <div *ngIf="details" class="example-details  col col-12 offset-sm-3 col-sm-6">
        <h3 [innerText]="'COMPONENTS.EXAMPLE.HEADLINE'|translate"></h3>
        #{{model.id}}
        {{model.name}}
        {{model.description}}
        <button (click)="edit(model)" class="btn btn-block btn-info">{{'EDIT'|translate}}</button>
        <button (click)="remove(model.id)" class="btn btn-block btn-danger">{{'REMOVE'|translate}}</button>
    </div>


    <div class="examples-form col col-12 offset-sm-3 col-sm-6">
        <button *ngIf="!model" (click)="createNewItem()" class="btn btn-lg btn-block btn-primary">{{'ADD'|translate}}
        </button>
        <form *ngIf="model" (submit)="(editing===true)?update():create()">
            <div class="form-group">

                <input [(ngModel)]="model.id" type="hidden" id="id" name="description">
                <input [(ngModel)]="model.name"
                       [placeholder]="'MODELS.EXAMPLE.NAME'|translate"
                       type="text"
                       id="name"
                       name="name"
                       class="form-control form-control-lg"
                >

                <input [(ngModel)]="model.description"
                       [placeholder]="'MODELS.EXAMPLE.DESCRIPTION'|translate"
                       type="text"
                       id="description"
                       name="description"
                       class="form-control form-control-lg">

            </div>
            <button class="btn btn-lg btn-block btn-primary" type="submit">{{'SAVE'|translate}}</button>
            <button (click)="reset()" class="btn btn-lg btn-block btn-danger" type="reset">{{'DISCARD'|translate}}
            </button>
        </form>
    </div>

    <div *ngIf="examples.length>0" class="examples-list col col-12 offset-sm-3 col-sm-6">
        <table class="table table-striped table-inverse" style="table-layout: fixed">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>{{'MODELS.EXAMPLE.NAME'|translate}}</th>
                <th>{{'MODELS.EXAMPLE.DESCRIPTION'|translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let example of examples;let idx = index">
                <th class="indexes">{{idx+1}}</th>
                <td class="names">{{example.name}}</td>
                <td class="description">{{example.description}}</td>
                <th class="actions text-right">
                    <div class="btn-group">
                        <button (click)="edit(example)" class="btn action btn-sm btn-primary">
                            <span class="oi" data-glyph="pencil"></span>
                        </button>
                        <button (click)="remove(example.id)" class="btn action btn-sm btn-danger">
                            <span class="oi" data-glyph="trash"></span>
                        </button>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>



